biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>
            Esquema que marca la estructura de la biblioteca de Territorio_Web
         </xs:documentation>
    </xs:annotation>
    <!-- El nodo raiz se llama biblioteca-->
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <!-- Sobra el minOccurs? -->
                <!-- ZONA LIBROS -->
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string" />
                                        <xs:element name="indice" type="xs:string" />
                                        <xs:element name="capitulos">
                                            <xs:complexType>
                                                <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                                <xs:sequence>
                                                    <xs:element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <!-- PONER QUE EL ELEMENTO VA VACÍO -->
                                                                <xs:element name="contenido_libro">
                                                                    <!-- OJO: NECESITAMOS COMPLEXTYPE PARA METER UN ATRIBUTO -->
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:anyURI" use="required"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="numero_paginas" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:minInclusive value="1"></xs:minInclusive>
                                                                        <xs:maxInclusive value="99999"></xs:maxInclusive>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sinopsis" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[L]{1}[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" default="novela">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="novela"></xs:enumeration>
                                                <xs:enumeration value="infantil"></xs:enumeration>
                                                <xs:enumeration value="didactico"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="numero_paginas" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:minInclusive value="1"></xs:minInclusive>
                                                <xs:maxInclusive value="99999"></xs:maxInclusive>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- ZONA REVISTAS -->
                <xs:element name="revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string" />
                                        <xs:element name="numero_revista">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="1"></xs:minInclusive>
                                                    <xs:maxInclusive value="99999"></xs:maxInclusive>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="indice" type="xs:string" />
                                        <xs:element name="secciones">
                                            <xs:complexType>
                                                <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                                <xs:sequence>
                                                    <xs:element name="seccion_revista" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="contenido_revista">
                                                                    <!-- OJO: NECESITAMOS COMPLEXTYPE PARA METER UN ATRIBUTO -->
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:anyURI" use="required"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="numero_paginas" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:minInclusive value="1"></xs:minInclusive>
                                                                        <xs:maxInclusive value="99999"></xs:maxInclusive>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[R]{1}[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" default="otros">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="informatica"></xs:enumeration>
                                                <xs:enumeration value="corazon"></xs:enumeration>
                                                <xs:enumeration value="investigacion"></xs:enumeration>
                                                <xs:enumeration value="coches"></xs:enumeration>
                                                <xs:enumeration value="otros"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="numero_paginas" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:minInclusive value="1"></xs:minInclusive>
                                                <xs:maxInclusive value="99999"></xs:maxInclusive>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- ZONA PERIÓDICOS -->
                <xs:element name="periodicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                    <xs:sequence>
                                        <xs:element name="indice" type="xs:string" />
                                        <xs:element name="secciones">
                                            <xs:complexType>
                                                <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                                <xs:sequence>
                                                    <xs:element name="seccion_periodico" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="articulos">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="contenido_articulo">
                                                                                            <!-- OJO: NECESITAMOS COMPLEXTYPE PARA METER UN ATRIBUTO -->
                                                                                            <xs:complexType>
                                                                                                <xs:attribute name="enlace" type="xs:anyURI" use="required"></xs:attribute>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="autor" type="xs:string" use="required"></xs:attribute>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="tipo_seccion_periodico" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="economica"></xs:enumeration>
                                                                        <xs:enumeration value="opinion"></xs:enumeration>
                                                                        <xs:enumeration value="deportes"></xs:enumeration>
                                                                        <xs:enumeration value="nacional"></xs:enumeration>
                                                                        <xs:enumeration value="internacional"></xs:enumeration>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[P]{1}[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" default="nacional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="nacional"></xs:enumeration>
                                                <xs:enumeration value="internacional"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="fecha_publicacion" type="xs:date" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>