biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>
            Esquema que marca la estructura de la biblioteca de Territorio_Web
         </xs:documentation>
    </xs:annotation>
    <!-- El nodo raiz se llama biblioteca-->
    <xs:element name="biblioteca">
        <!-- Realizamos un tipo complejo  -->
        <xs:complexType>
            <!-- Tendremos una secuencia de 3 elementos 
            al poner sequence, no hace falta poner required en los elementos de dentro -->
            <xs:sequence>


                <!-- ZONA LIBROS -->
                <xs:element name="libros">
                    <!-- Realizamos un tipo complejo  -->
                    <xs:complexType>
                        <!-- Tendremos una secuencia con un único elemento, que será mínimo 0 y máximo sin límite -->
                        <xs:sequence>
                            <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                                <!-- Realizamos un tipo complejo -->
                                <xs:complexType>
                                    <!-- Tenemos sequence, es decir, es obligatorio que tenga título,
                                    índice, capítulos, sinopsis -en ese orden- -->
                                    <xs:sequence>
                                        <!-- Tendremos título, índice y sinopsis de tipo string -->
                                        <xs:element name="titulo" type="xs:string" />
                                        <xs:element name="indice" type="xs:string" />
                                        <!-- Tenemos un elemento capítulos complejo, que dentro
                                        tendrá una secuencia de elementos capítulo -->
                                        <xs:element name="capitulos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- Puede haber mínimo 1 capítulo, máximo sin límite -->
                                                    <xs:element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <!-- El elemento contenido_libro será complejo, ya que es necesario
                                                                    para indicar el atributo.
                                                                    Sin embargo, no tendremos sequence o similares al no haber elementos -->
                                                                <xs:element name="contenido_libro">
                                                                    <xs:complexType>
                                                                        <!-- Indicamos que será una url y será required -->
                                                                        <xs:attribute name="enlace" type="xs:anyURI" use="required"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <!-- Como atríbuto de capítulo tendremos número de páginas que será required -->
                                                            <xs:attribute name="numero_paginas" use="required">
                                                                <!-- Indicamos simpleType para poder indicar luego una restricción -->
                                                                <xs:simpleType>
                                                                    <!-- Tenemos una restricción de base integer, que comprenderá entre 1 y 99999
                                                                        ambos inclusive -->
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:minInclusive value="1"></xs:minInclusive>
                                                                        <xs:maxInclusive value="99999"></xs:maxInclusive>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sinopsis" type="xs:string" />
                                    </xs:sequence>

                                    <!-- Como atributos tendremos 3: id, tipo_clase y numero paginas -->
                                    <!-- El id será required, tendrá una restricción de base String
                                        con un pattern de Lccc donde c es cualquier número entre 0-9 -->
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[L]{1}[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <!-- tipo_clase tendrá default en vez de required, que será novela,
                                    y como restricción tendremos una enumeración de 3 elementos -->
                                    <xs:attribute name="tipo_clase" default="novela">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="novela"></xs:enumeration>
                                                <xs:enumeration value="infantil"></xs:enumeration>
                                                <xs:enumeration value="didactico"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <!-- El atributo numero_paginas será análogo al de capítulo -->
                                    <xs:attribute name="numero_paginas" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:minInclusive value="1"></xs:minInclusive>
                                                <xs:maxInclusive value="99999"></xs:maxInclusive>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <!-- ZONA REVISTAS -->
                <xs:element name="revistas">
                    <!-- Realizamos un tipo complejo  -->
                    <xs:complexType>
                        <!-- Tendremos una secuencia con un único elemento, que será mínimo 0 y máximo sin límite -->
                        <xs:sequence>
                            <xs:element name="revista" minOccurs="0" maxOccurs="unbounded">
                                <!-- Realizamos un tipo complejo -->
                                <xs:complexType>
                                    <!-- Tenemos sequence, es decir, es obligatorio que tenga título,
                                    numero_revista, índice y secciones -en ese orden- -->
                                    <xs:sequence>
                                        <!-- Tendremos título e índice de tipo string -->
                                        <xs:element name="titulo" type="xs:string" />
                                        <!-- numero_revista tiene como restricción una análoga a la de
                                            numero_paginas, es decir, base integer, con valores entre 1 y 99999 -->
                                        <xs:element name="numero_revista">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="1"></xs:minInclusive>
                                                    <xs:maxInclusive value="99999"></xs:maxInclusive>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="indice" type="xs:string" />
                                        <xs:element name="secciones">
                                            <xs:complexType>
                                                <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                                <xs:sequence>
                                                    <!-- Puede haber mínimo 1 sección, máximo sin límite -->
                                                    <xs:element name="seccion_revista" minOccurs="1" maxOccurs="unbounded">
                                                        <!--Cada sección un tipo complejo con un elemento complejo qye contendrá
                                                            el propio contenido, teniendo por atributo numero_paginas, así como
                                                            un elemento enlace (tipo URL) -->
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="contenido_revista">
                                                                    <!-- OJO: NECESITAMOS COMPLEXTYPE PARA METER UN ATRIBUTO -->
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:anyURI" use="required"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="numero_paginas" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:minInclusive value="1"></xs:minInclusive>
                                                                        <xs:maxInclusive value="99999"></xs:maxInclusive>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <!-- Los atributos son análogos a los de libro, con la salvedad del pattern
                                        con R en vez de L, y los distintos value aceptados en tipo_clase -->
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[R]{1}[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" default="otros">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="informatica"></xs:enumeration>
                                                <xs:enumeration value="corazon"></xs:enumeration>
                                                <xs:enumeration value="investigacion"></xs:enumeration>
                                                <xs:enumeration value="coches"></xs:enumeration>
                                                <xs:enumeration value="otros"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="numero_paginas" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:minInclusive value="1"></xs:minInclusive>
                                                <xs:maxInclusive value="99999"></xs:maxInclusive>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- ZONA PERIÓDICOS -->
                <xs:element name="periodicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                    <xs:sequence>
                                        <xs:element name="indice" type="xs:string" />
                                        <xs:element name="secciones">
                                            <xs:complexType>
                                                <!-- Al poner sequence, no hace falta poner required en los elementos de dentro-->
                                                <xs:sequence>
                                                    <xs:element name="seccion_periodico" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="articulos">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="contenido_articulo">
                                                                                            <!-- OJO: NECESITAMOS COMPLEXTYPE PARA METER UN ATRIBUTO -->
                                                                                            <xs:complexType>
                                                                                                <xs:attribute name="enlace" type="xs:anyURI" use="required"></xs:attribute>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="autor" type="xs:string" use="required"></xs:attribute>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="tipo_seccion_periodico" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="economica"></xs:enumeration>
                                                                        <xs:enumeration value="opinion"></xs:enumeration>
                                                                        <xs:enumeration value="deportes"></xs:enumeration>
                                                                        <xs:enumeration value="nacional"></xs:enumeration>
                                                                        <xs:enumeration value="internacional"></xs:enumeration>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[P]{1}[0-9]{4}"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" default="nacional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="nacional"></xs:enumeration>
                                                <xs:enumeration value="internacional"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="fecha_publicacion" type="xs:date" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>